{% extends 'polls/nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<div class="login-card">
    <h2 class="login-title">Register</h2>
    <form method="POST" class="custom-form">
        {% csrf_token %}
        <div class="input-group">
            {{ form.username.label_tag }} {{ form.username }}
            {% if form.username.errors %}
                <p>{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="input-group">
            {{ form.email.label_tag }} {{ form.email }}
            {% if form.email.errors %}
                <p>{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="input-group">
            {{ form.password1.label_tag }} {{ form.password1 }}
            {% if form.password1.errors %}
                <p>{{ form.password1.errors.0 }}</p>
            {% endif %}
        </div>
        <div class="input-group">
            {{ form.password2.label_tag }} {{ form.password2 }}
            {% if form.password2.errors %}
                <p>{{ form.password2.errors.0 }}</p>
            {% endif %}
        </div>

        <button type="submit" class="custom-button">Sign Up</button>
        <a href="{% url 'polls:index' %}" class="custom-button">Enter as a visitor</a>
    </form>

</div>


<div class="help-text">
    {% for field in form %}
        {{ field.help_text }}
    {% endfor %}
</div>
{% endblock %}