{% extends 'polls/nav.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% block content %}
<form action="{% url 'polls:vote' question.id %}" method="post" class="poll-form">

  {% csrf_token %}

  <fieldset class="poll-options">
    <legend>
      <h1 class="poll-question">{{ question.question_text }}</h1>
        {% if messages %}
          <ul class="error_messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
    </legend>

    {% for choice in question.choice_set.all %}
    <label class="poll-choice">
      {% if user_vote and choice.id == user_vote.id %}
        <input type="radio" checked="true" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      {% else %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      {% endif %}
      {{ choice.choice_text }}
    </label>
  {% endfor %}


  </fieldset>

  <input type="submit" value="Vote" class="vote-button">

  <a class="detail-back" href="{% url 'polls:index' %}">Back</a>
{% endblock %}
</form>
